.cross-button {
  @include reset-button;
  transition-duration: var(--transition-duration-fast);

  @include hover {
    transform: var(--scale);
  }
  &::before,
  &::after {
    @include abs-center;
    content: "";
    position: absolute;
    width: 135%;
    height: 3px;
    border-radius: 5px;
    background: var(--background-gradient);
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
